<div class="d-flex justify-content-between align-items-center">
    <h2>Users</h2>
    <p-button (click)="showCreatingModal()" label="Add user"></p-button>
</div>
<p-divider />

<div class="card">
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th width="45%">Name</th>
                <th width="45%">Genre</th>
                <th width="10%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tUser>
            <tr>
                <td>{{ tUser.name }}</td>
                <td>{{ tUser.genre == false ? "Mujer" : "Hombre" }}</td>
                <td class="d-flex gap-5">
                    <p-button icon="pi pi-pencil" (click)="showEditingModal(tUser)"
                        styleClass="p-button-primary"></p-button>
                    <p-button icon="pi pi-trash" (click)="deleteUser(tUser.id)" styleClass="p-button-danger"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- User modal -->
<div class="card flex justify-content-center">
    <p-dialog header="User details" [modal]="true" [(visible)]="userModal"
        [style]="{ width: '50vw', height: '340px' }" [draggable]="false" [resizable]="true">
        <ng-template pTemplate="content">
            <form [formGroup]="userForm" class="d-flex flex-column">
                <label>Name</label>
                <input pInputText [(ngModel)]="user.name" type="text" class="p-inputtext-sm" formControlName="name"
                    id="name" />
                <label for="">Are you a man?</label>
                <p-dropdown [options]="genreOptions" formControlName="genre" [(ngModel)]="user.genre" name="genre" id="genre"></p-dropdown>
                <div style="text-align: end;">
                    <p-button type="submit" icon="pi pi-plus" (click)="saveUser(user)" label="Save"></p-button>
                </div>
            </form>
        </ng-template>
    </p-dialog>
</div>